<nav class="header__nav-wrap">

    <h2 class="header__nav-heading h6">Site Navigation</h2>

    <ul class="header__nav">

            <% for(var i=0; i<headers.length; i++) { %>

                <% if (headers[i].isBold) { %>
                    <% if (headers[i].children) { %>
                        <li class="header-li current has-children">
                            <a href="/<%-headers[i].link%>" title=""><%-headers[i].type%></a>
                            <ul class="sub-menu">
                                <% for(var j=0; j<headers[i].children.length; j++) { %>
                                    <li><a href="/<%-headers[i].children[j].link%>"><%-headers[i].children[j].type%></a></li>
                                <% } %>
                            </ul>
                        </li>
                    <% } else {%>
                        <li class="header-li current"><a href="/<%-headers[i].link%>" title=""><%-headers[i].type%></a></li>
                    <% } %>
                <% } else {%>
                    <% if (headers[i].children) { %>
                        <li class="header-li has-children">
                            <a href="/<%-headers[i].link%>" title=""><%-headers[i].type%></a>
                            <ul class="sub-menu">
                                <% for(var j=0; j<headers[i].children.length; j++) { %>
                                    <li><a href="/<%-headers[i].children[j].link%>"><%-headers[i].children[j].type%></a></li>
                                <% } %>
                            </ul>
                        </li>

                    <% } else {%>
                        <li class="header-li"><a href="/<%-headers[i].link%>" title=""><%-headers[i].type%></a></li>
                    <% } %>
                <% } %>

            <% } %>

    


    </ul>
    <!-- end header__nav -->

    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

</nav>
<!-- end header__nav-wrap -->