<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Philosophy</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/home-base.css">
    <link rel="stylesheet" href="css/css-3p.css">
    <link rel="stylesheet" href="css/home-main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="index.html">
                        <img src="image/philologo.png" alt="Homepage">
                    </a>
                </div>
                <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <!-- end header__social -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <%- include header-nav-partial.ejs %>



            </div>
            <!-- header-content -->
        </header>
        <!-- header -->


        <div class="pageheader-content row">
            <div class="col-full">

                <div class="featured">

                    <div class="featured__column featured__column--big">
                        <div class="entry" style="background-image:url('http://res.cloudinary.com/epicfoundation/image/upload/v1526122432/old-books-436498_1280_mtbgik.jpg');">

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0"><%-featured.topic_id%></a></span>

                                <h1>
                                    <a href="#0" title="">
                                        <%-featured.blog_title%>
                                    </a>
                                </h1>

                                <div class="entry__info">
                                    <ul class="entry__meta">
                                        <li>
                                            <%-featured.type%>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end entry__content -->

                        </div>
                        <!-- end entry -->
                    </div>
                    <!-- end featured__big -->

                    <div class="featured__column featured__column--small">

                        <% for(var i=0; i<semifeatured.length; i++) { %>
                            <div class="entry" style="background-image:url('http://res.cloudinary.com/epicfoundation/image/upload/v1526123420/graduation-2613177_1280_e6rtsc.jpg');">

                                <div class="entry__content">
                                    <span class="entry__category"><a href="#0"><%-semifeatured[i].topic_id%></a></span>

                                    <h1>
                                        <a href="#0" title="">
                                            <%-semifeatured[i].blog_title%>
                                        </a>
                                    </h1>

                                    <div class="entry__info">

                                        <ul class="entry__meta">
                                            <li>
                                                <%-semifeatured[i].type%>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end entry__content -->

                            </div>
                            <% } %>
                                <!-- end entry -->


                                <!-- end entry -->

                    </div>
                    <!-- end featured__small -->
                </div>
                <!-- end featured -->

            </div>
            <!-- end col-full -->
        </div>
        <!-- end pageheader-content row -->

    </section>
    <!-- end s-pageheader -->



    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>